.avatar-groups {
    display: flex;
    align-items: center;
   

    >:nth-child(1){
        margin-right: -10px;
    }
    >:nth-child(2){
        margin-right: -10px;
    }
    >:nth-child(3){
        margin-right: -10px;
    }
    >:nth-child(4){
        margin-right: -10px;
    }
    >:nth-child(5){
        margin-right: -10px;
    }
}